/*@viewport { zoom: 1; }*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.authHide {display: none;}

.no-pad-right {
padding-right: 0;
}
.no-pad-left{
padding-left: 0;
}
.small-pad-right {
padding-right: 2;
}
.small-pad-left{
padding-left: 2;
}
.ng-table {
    border: 1px solid #000;
}
.max-width-table {
  width:100%;
}
.thin-border {
    border: 1px solid #000;
}
.collapsible {
  border: 1px solid gray;
}
.collapsible section {
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-in-out;
}
.collapsible section p {
  margin: 0;
  padding: 5px;
}
.collapsible section.opened {
  transition: maxheight .5s ease-in-out;
  max-height: 100%;
}
.collapsible header {
  border-bottom: 1px solid green;
  cursor: pointer;
}
.collapsible h4 {
  margin: 0;
}
.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}



.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}