<h3>Shoes</h3>

<table st-table="vm.shoesList" st-safe-src="vm.origShoesList" class="table table-striped">
	<thead>
	<tr>
		<th><select ng-model="vm.selectedIdHeader" 
							ng-options="shoe.id for shoe in vm.shoesList">
     			<option value="">-- All Ids --</option>
			</select></th>

		<th st-sort="id">Id</th>
		<th st-sort="name">Name</th>
	</tr>
	<tr>
		<th colspan="5"><input st-search="" class="form-control" placeholder="filter ..." 
				type="text"/></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="shoe in vm.shoesList">
		<td><a ui-sref="viewshoe({shoeId:shoe.id})">{{shoe.id}}</a></td>
		<td>{{shoe.name}}</td>
	</tr>
	</tbody>
</table>